.headerLink {
  display: flex;
  text-decoration: none;
  color: white;
  transition: .25s ease;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #114455;
    color: rgb(194, 194, 194);
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1%;
  }
  .links a {
    margin: 1em;
    text-decoration: none;
    color: black;
    transition: ease .25s;
  }
  .regMenu {
    display: none;
  }
  .hamburger {
    z-index: 10;
    display: flex;
    justify-content: center;
    visibility: visible;
    padding: 0.5em;
  }
  .header section {
    font-size: larger;
    display: flex;
    align-items: center;
    transition: .25s ease;
  }

  .header section img {
    width: auto;
    height: 75px;
    
  }
}
@media only screen and (min-width: 769px) {
  .header {
    display: flex;
    background-color: #114455;
    color: rgb(194, 194, 194);
  }
  .hamburger {
    display: none;
  }
  .regMenu {
    display: visible;
  }
  .links {
    height: fit-content;
    justify-content: space-evenly;
    margin-right: 1%;
  }
  .links a {
    margin: 1em;
    text-decoration: none;
    color: white;
    transition: ease .25s;
  }
  .header section {
    width: 55%;
    font-size: larger;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    transition: .25s ease;
  }

  .header section img {
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
    height: 100px;
    
  }
  .header nav {
    align-items: flex-end;
    margin-right: 8%;
  }
}
.hamburger img {
  width: 45px;
  margin-right: 5px;
}
.hamMenu {
  position: absolute;
  margin-top: 3em;
  width: 50%;
  background-color: #000000;
}
.header section :hover {
  cursor: pointer;
  color: #55AA88;
}

.header nav {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links a:hover {
  color: #55AA88
}

.hamMenu.links a{
  color: #55AA88
}

.hamMenu.links a:hover{
  color: white
}
