.homeContainer {
  display: flex;
  flex-direction: column;
}

.upperHome {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .upperHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .upperHomeLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeImages {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .upperHomeRight {
    font-size: large;
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .homeLogo{
    display: none;
  }
  .lowerHome {
    background-color: darkgrey;
  }
  .lowerHome h2 {
    text-align: center;
  }
  
}
@media only screen and (min-width: 769px) {
  .upperHome {
    margin-bottom: 10%;
  }
  .homeImages {
    justify-content: center;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
  }
  .upperHomeRight {
    justify-content: center;
    font-size: large;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }
  .homeLogo{
    margin-top: 15%;
    display: flex;
    align-items: center;
  }
  .upperHomeLeft {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .lowerHome h2 {
    text-align: center;
  }
}
.homeMainText p {
  line-height: 2em;
}